<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}SickList{% endblock %}</title>
</head>
<body>

{% if request.user.is_authenticated %}
<p> Welcome, {{request.user.username}}! <a href="{% url 'logout' %}?next={{ request.path }}">Log out</a></p>
{% else %}
<p>
    Welcome! Are you a doctor? Please,
    <a href="{% url 'login' %}?next={{ request.path }}">Log in</a>
    or
    <a href="{% url 'signup' %}?next={{ request.path }}">Sign up</a>
    create a new user
</p>
{% endif %}
<hr/>

{% block content %}{% endblock %}

</body>
</html>