{% extends 'hospital/base.html' %}

{% block title %}{{ sicklist.title }}{% endblock %}

{% block content %}

<h1>{{ sicklist.title}}</h1>

{% if sicklist.doctor_id == request.user.id %}


<form action="{% url 'create_record' sicklist.id %}" method="POST">
    {% csrf_token %}
    <input type="text" name="person" maxlength="1000" size="80" placeholder="Person" value="{{ person }}"/>
    <br />
    <input type="text" name="condition" maxlength="1000" size="80" placeholder="Condition" value="{{ condition }}"/>
    <br />
    <input type="text" name="medicines" maxlength="1000" size="80" placeholder="Medicines" value="{{ medicines }}"/>
    <br />
    <textarea name="text" maxlength="4096" rows="10" cols="80" placeholder="Record text">{{ text }}</textarea>
    <br />
    <input type="submit" value="Create record" />
</form>

{% if error %}
<p style="color:red;">{{ error }}</p>
{% endif %}


<h2>Records:</h2>

{% endif %}

<ul>
    {% for record in records %}
    <li>
        <i>
            Date: {{record.created_at}}
        </i> <br/> <br/>
        <i>
            Person: {{record.person}}
        </i> <br/>
        <i>
            Person condition: {{record.condition}}
        </i> <br/>
        <i>
            Medicines: {{record.medicines}}
        </i> <br/>
        <p> {{record.text}} </p>
        <br/>
    </li>
    {% endfor %}
</ul>

{% endblock %}